<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <title>Home</title>
    </head>
    <body>
        <h1 class="teste">Seja bem vindo!</h1>

        <p>Agora são {{ now }}</p>

        <ul>
            {% for transacao in transacoes %}
                {% if transacao == "t1" %}
                    <li><b>{{ transacao }}</b></li>
                {% else %}
                    <li>{{ transacao }}</li>
                {% endif %}
            {% endfor %}
        </ul>
    </body>
</html>